* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    text-align: center;
    background-image: url(./src/imagens/background-3.jpg);
    background-position: center;
}

a {
    font-family:monospace;
    color: black    
}

.container-header {
    margin-top: 30px;
    margin-right: 35%;
    margin-left: 35%;
    
}

.imagem {
    width: 150px;
    margin-top: 10px;   
}

button:active {
    font-style:oblique;
}

button:hover {
    background-color: blueviolet;
    transition:0.4s;
}

button {
    color:darkgrey;
    background-color: #cda2d1;
    padding: 10px;
    border-style:unset;
    margin: 10px;
    border-radius: 20px;
}

.botoes {
    margin-top: 30px;
}

 p, ul, h1, h2 {
    font-family: 'Outfit', sans-serif;
}

.container-sobre-mim {

    height: 120px;
    margin-right: 25%;
    margin-left: 25%;
    display: inline-block;
}

.habilidades {
    
    margin-right: 30%;
    margin-left: 31%;  
}

ul {

    padding: 10px;
}

p {

    line-height: 20px;
    margin-top: 7px;
}

.podcast {

    margin-right: 30%;
    margin-left: 31%; 
}

.btn-rodape {

    padding: 15px;
}

.aviso{
    margin-right: 30%;
    margin-left: 31%; 
    border: 5px solid yellow;
    background-color: red;
    padding: 7px;
}
